<?xml version="1.0"?>

<launch>
  <include file="$(find hector_quadrotor_util)/launch/start.launch">
	<!-- <arg name="world" value="$(find hector_quadrotor_util)/worlds/rolling_landscape_120m.world"/> -->
   <arg name="world" value="$(find hector_quadrotor_util)/worlds/narrow.world"/>
  </include>

</launch>
